:root {
  /* colors */
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --grey: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --navy-blue-modal: #2e2f42;
  --dairy: #fcfcfc;

  /* fonts */
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;
}

/*----------- DEFAULTS --------------------*/
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--font-main);
  background-color: var(--white);
  color: var(--slate);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------- LOGO --------------------*/
.logo {
  color: var(--iris);
  font-size: 18px;
  font-family: var(--font-logo);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-end-header {
  color: var(--navy-blue);
}
.logo-end-footer {
  color: var(--cloud);
}

/*----------- COMMON STYLES -------------*/
.section-title {
  color: var(--grey);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.item-title {
  color: var(--grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.item-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------- HEADER --------------------*/
.head {
  background-color: var(--white);
}
.head-nav-link {
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.head-address-link {
  color: var(--slate, #434455);
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.head-nav-link:hover,
.head-nav-link:focus,
.head-address-link:hover,
.head-address-link:focus {
  color: var(--ocean, #404bbf);
}

/*----------- HERO --------------------*/
.hero {
  background: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.hero-btn {
  color: var(--white, #fff);
  background-color: var(--iris);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/*----------- FEATURES --------------------*/
.features {
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-item-title {
}
.features-item-text {
}

/*----------- DOING --------------------*/
.doing {
}
.doing-title {
}
.doing-list {
}
.doing-item {
}

/*----------- TEAM --------------------*/
.team {
  background: var(--cloud, #f4f4fd);
}
.team-list {
  background-color: var(--white);
}
.team-item {
  background-color: var(--white);
}
.team-title {
}
.team-item {
}
.team-item-title {
}
.team-item-text {
}

/*----------- FOOTER --------------------*/
.foot {
  background: var(--navyblue, #2e2f42);
}
.foot-text {
  color: var(--cloud, #f4f4fd);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*----------- PORTFOLIO --------------------*/
.portfolio {
}
.filter-list {
}
.filter-item {
}
.filter-btn {
  color: var(--iris, #4d5ae5);
  background: var(--cloud, #f4f4fd);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.cards-list {
}
.cards-item {
}
.cards-link {
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}
