:root {
  /* colors */
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --grey: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --navy-blue-modal: #2e2f42;
  --dairy: #fcfcfc;

  /* fonts */
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;

  /* gaps */
  --list-gap: 24px;
}

/*----------- DEFAULTS --------------------*/
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: var(--font-main);
  background-color: var(--white);
  color: var(--slate);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------- LOGO --------------------*/
.logo {
  color: var(--iris);
  font-size: 18px;
  font-family: var(--font-logo);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-end-header {
  color: var(--navy-blue);
}
.logo-end-footer {
  color: var(--cloud);
}

/*----------- COMMON STYLES -------------*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
.flex {
  display: flex;
}
.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  color: var(--grey);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.item-title {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.item-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------- HEADER --------------------*/
.head {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--white);

  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  /* outline: 2px solid tomato; */
}
.head-box {
  justify-content: space-between;
}
.head-nav {
  align-items: center;
}
.head-logo {
  margin-right: 76px;
}
.head-nav-list {
}
.head-nav-item:not(:last-child) {
  margin-right: 40px;
}
.head-nav-link {
  padding: 24px 0;
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.head-address {
}
.head-address-list {
}
.head-address-item:not(:last-child) {
  margin-right: 40px;
}

.head-address-link {
  color: var(--slate, #434455);
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.head-nav-link:hover,
.head-nav-link:focus,
.head-address-link:hover,
.head-address-link:focus {
  color: var(--ocean, #404bbf);
}

/*----------- HERO --------------------*/
.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  background: var(--navyblue, #2e2f42);
  /* outline: 2px solid tomato; */
}
.hero > .container {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  color: var(--white, #fff);
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  color: var(--white, #fff);
  background-color: var(--iris);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/*----------- FEATURES --------------------*/
.features {
  padding-top: 120px;
  padding-bottom: 120px;

  /* outline: 2px solid tomato; */
}
.features-title {
}
.features-list {
  /* margin-left: calc(-1 * var(--list-gap)); */
}
.features-item {
  flex-basis: calc((100% - (3 * var(--list-gap))) / 4);
  /* flex-basis: calc(100% / 4 - var(--list-gap)); */
  /* margin-left: var(--list-gap); */
}
.features-item:not(:last-child) {
  margin-right: var(--list-gap);
}
.features-item-title {
}
.features-item-text {
}

/*----------- DOING --------------------*/
.doing {
  /* padding-top: 120px; */
  padding-bottom: 120px;

  /* outline: 2px solid tomato; */
}
.doing-title {
  margin-bottom: 72px;
}
.doing-list {
  /* margin-left: calc(-1 * var(--list-gap)); */
}
.doing-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
  /* flex-basis: calc(100% / 3 - var(--list-gap)); */
  /* margin-left: var(--list-gap); */
}
.doing-item:not(:last-child) {
  margin-right: var(--list-gap);
}

/*----------- TEAM --------------------*/
.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background: var(--cloud, #f4f4fd);
  /* outline: 2px solid tomato; */
}
.team-title {
}
.team-list {
  /* margin-left: calc(-1 * var(--list-gap)); */
}
.team-item {
  flex-basis: calc((100% - (3 * var(--list-gap))) / 4);
  /* flex-basis: calc(100% / 4 - var(--list-gap)); */
  /* margin-left: var(--list-gap); */

  text-align: center;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: var(--list-gap);
}
.team-item-info {
  padding: 32px 16px;
}
.team-item-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  text-align: center;
}

/*----------- PORTFOLIO --------------------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;

  /* outline: 2px solid tomato; */
}
.portfolio > .container {
  justify-content: center;
}
.filter-list {
  justify-content: center;
  margin-bottom: 72px;
}
.filter-item:not(:last-child) {
  margin-right: var(--list-gap);
}
.filter-btn {
  padding: 12px 24px;

  color: var(--iris, #4d5ae5);
  background: var(--cloud, #f4f4fd);
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;

  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.cards-list {
  flex-wrap: wrap;
  /* margin-left: calc(-1 * var(--list-gap)); */
  /* margin-top: calc(-2 * var(--list-gap)); */
}
.cards-item {
  flex-basis: calc((100% - (2 * var(--list-gap))) / 3);
  /* flex-basis: calc(100% / 3 - var(--list-gap)); */
  /* margin-left: var(--list-gap); */
  /* margin-top: calc(2 * var(--list-gap)); */
  margin-right: var(--list-gap);
  margin-bottom: calc(2 * var(--list-gap));
  padding-bottom: 32px;
}
.cards-item:nth-child(3n) {
  margin-right: 0;
}
.cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.cards-link {
}
.cards-item-box {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}

/*----------- FOOTER --------------------*/
.foot {
  padding-top: 100px;
  padding-bottom: 100px;

  background: var(--navyblue, #2e2f42);
  /* outline: 2px solid tomato; */
}
.foot-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}
.foot-text {
  margin-bottom: 0;
  max-width: 264px;

  color: var(--cloud, #f4f4fd);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
